* {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
}

body {
      background-color: whitesmoke;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

main{
      display: flex;
      flex-direction: column;
}

form {
      display: flex;
      flex-direction: column;
}

h1{
      margin-bottom: 2rem;
      text-align: center;
}

#selection {
      padding: 1rem;
      font-size: 1.5rem;
}

.submit-btn {
      margin: 1rem auto;
      width: 10rem;
      height: 3rem;
      padding: 0.2rem;
      background-color: navy;
      color: white;
      font-size: 1.25rem;
      font-weight: 700;
}

.submit-btn:hover {
      cursor: pointer;
      color: navy;
      background-color: white;
}