* {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
}

body {
      background-color: whitesmoke;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

main{
      display: flex;
      flex-direction: column;
      width: 80%;
      max-width: 500px;
}

form {
      display: flex;
      flex-direction: column;
}

h1{
      margin-bottom: 2rem;
      text-align: center;
}

#selection {
      padding: 1rem;
      font-size: 1.5rem;
}

.submit-btn {
      margin: 1rem auto;
      width: 10rem;
      height: 3rem;
      padding: 0.2rem;
      background-color: navy;
      color: white;
      font-size: 1.25rem;
      font-weight: 700;
}

.submit-btn:hover {
      cursor: pointer;
      color: navy;
      background-color: white;
}

#scores {
      height: 5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
}

.humanScore,
.computerScore {
      border: 1px solid grey;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
}

.points {
      font-size: 2.5rem;
}

.winnerAnnouncement {
      margin-top: 2rem;
      text-align: center;
      font-size: 1.25rem;
}